@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	min-height: 100vh;

	display: flex;
	flex-flow: column;
	justify-content: space-between;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 30px 0 30px;

	&__wrap{
		@include clearfix;
		max-width: 980px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}

	&__text{
		margin: 0 0 30px;		
	}
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{
	padding: 10px 0;

	&__logo-placeholder{
		text-align: center;	

		@media (min-width: 1000px){
			position: absolute;
			top: 10px;
			left: 10px;
		}
	}

	&__logo{
		display: inline-block;
		text-indent: -9999px;
		@include sprite($viferon);
	}
}


/* ==========================================================================
 * footer
 * ========================================================================== */

.footer{
	padding: 0;
	background: #0f5cb1 url(../images/bg/bottom.png) 100% 0 no-repeat;
	color: #fff;
	padding: 13px 275px 13px 10px;

	@media (max-width: 1300px){
		background-image: none;
		padding-right: 10px;
		text-align: center;
	}
	
	&__wrap{
		max-width: none;
	}
	
	&__text{
		font-size: 21px;
		font-family: 'Arial Narrow';
		@media (max-width: 1600px){
			font-size: 18px;
		}
		@media (max-width: 1400px){
			font-size: 16px;
		}
		@media (max-width: 1300px){
			font-size: 16px;
		}
	}
}

/* ==========================================================================
 * app-section
 * ========================================================================== */

.app-section{

	&__box{
		box-shadow: 0 0 90px rgba(0,0,0,.5);
		border-radius: 18px;
		background: #fff;
	}

	&__header{
		background: $blue;
		color: #fff;
		padding: 23px 20px;
		border-radius: 18px 18px 0 0;
	}

	&__content{
		min-height: 200px;
	}

	&__back-placeholder{
		float: left;
		margin: -5px 0 0;
		text-align: center;

		@media (max-width: 480px){
			float: none;
			margin: 0 auto 10px;
		}
	}

	&__back{
		display: inline-block;
		@include sprite($back);
	}

	&__title{
		text-align: center;
		margin: 0 55px;
		font-size: 22px;
		text-transform: uppercase;

		@media (max-width: 480px){
			margin: 0;
		}
	}
}

.app-main{

	&__message{
		background: #fff;
		padding: 30px;
		margin: 0 0 40px;
	}

	&__list{
		background: #fff;
		padding: 30px;
	}

	&__item{
		max-width: 510px;
		margin: 0 auto 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__href{
		width: 100%;
	}
}

/* ==========================================================================
 * app-inner
 * ========================================================================== */

.app-inner{

	&__chat{
		
	}

	&__questions{
		
	}
}

/* ==========================================================================
 * app
 * ========================================================================== */

.app{

	&__loader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
	}

	&__error{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 550;
	}

}

/* ==========================================================================
 * app-chat
 * ========================================================================== */

.app-chat{
	padding: 30px;
	position: relative;
	height: 310px;
	overflow: auto;
	@media (max-width: 768px){
		height: auto;
	}

	&__list{
		
	}

	&__item{
		margin: 0 5% 20px 0;

		&--your{
			margin: 0 0 20px 5%;
		}

		@media (max-width: 480px){
			margin: 0 0 20px;
		}
	}
}

/* ==========================================================================
 * app-message
 * ========================================================================== */

.app-message{
	background: #f0f0f0;
	padding: 20px;
	border-radius: 18px;
	@include clearfix;


	&--your{
		text-align: right;
		background: #daf1fb;
		.app-message{
			&__image-placeholder{
				float: right;
			}
			&__content{
				margin: 0 70px 0 0;
				@media (max-width: 480px){
					margin: 70px 0 0;
				}
			}
		}
	}

	&__image-placeholder{
		float: left;
		overflow: hidden;
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	&__image{
		display: inline-block;
		width: 100%;
		height: auto;
	}

	&__content{
		margin: 0 0 0 70px;
		@media (max-width: 480px){
			margin: 70px 0 0;
		}
	}

	&__name{
		font-size: 12px;
		margin: 0 0 5px;
		color: #8a8a8a;
	}

	&__text{
		//text-align: left;
	}

	&__typing{
		background: url(../images/writing.gif) 50% 0 no-repeat;
		width: 33px;
		height: 35px;
		display: inline-block;
		text-indent: -9999px;
		text-align: left;
	}
}

/* ==========================================================================
 * app-questions
 * ========================================================================== */

.app-questions{

	&__list{
		text-align: center;
		display: flex;

		@media (max-width: 768px){
			display: block;
		}
	}

	&__item{
		border-left: 1px solid #5483be;

		flex: 1;

		&:first-child{
			//border: 0;
		}

		@media (max-width: 768px){
			border-top: 1px solid #5483be;
			border-left: 0;

			&:first-child{
				border: 0;
			}
		}
	}

	&__button{
		background: $blue;
		color: #fff;

		font-size: 18px;
		line-height: (24/18);
		font-weight: 600;
		height: 100%;
		width: 100%;
	}

	&__button-inner{
		padding: 15px;

		min-height: 160px;
		display: flex;
		flex-flow: column;
		justify-content: center;

		@media (max-width: 768px){
			min-height: 0px;
		}
	}

	&__more-placeholder{
		text-align: center;
	}

	&__more{
		width: 100%;
		border-radius: 0 0 18px 18px;
		font-size: 18px;
		padding: 10px;
	}
}

.app-login{
	text-align: center;
	padding: 70px 0;
}

/* ==========================================================================
 * app-404
 * ========================================================================== */

.app-404{
	text-align: center;
	padding: 70px 0;
	
	&__title{
		font-size: 30px;
		margin: 0 0 20px;
	}
}

/* ==========================================================================
 * error-message
 * ========================================================================== */

.error-message{
	padding: 10px;
	background: #ff7f7f;
}
 

/* ==========================================================================
 * loader
 * ========================================================================== */

.loader{
	background: rgba(255,255,255,.5);	
	text-align: center;
	opacity: 0;
	visibility: hidden;
	
	transition: all .2s;

	display: flex;

	align-items: center;
	justify-content: center;
	
	&__content{
		width: 40px;
		height: 40px;
		display: inline-block;
		animation: spin .6s infinite linear;
		text-indent: -9999px;
		content: '';
	}

	&--visible{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
